<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <link href="{% static 'login/css/login.css' %}" rel="stylesheet"/>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.bootcss.com/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">

    <title>Registration</title>
</head>
<body>
    <div class="container">
        <div class="col">
            <form class="form-register" action="/register/" method="post">

                {% csrf_token %}

                {% if register_form.captcha.errors %}
                    <div class="alert alert-warning">{{ register_form.captcha.errors }}</div>
                {% elif message %}
                    <div class="alert alert-warning">{{ message }}</div>
                {% endif %}

                <h3 class="text-center"> User Registration </h3>
                <div class="form-group">
                    {{ register_form.username.label_tag }}
                    {{ register_form.username }}
                </div>
                <div class="form-group">
                    {{ register_form.password1.label_tag }}
                    {{ register_form.password1 }}
                </div>
                <div class="form-group">
                    {{ register_form.password2.label_tag }}
                    {{ register_form.password2 }}
                </div>
                <div class="form-group">
                    {{ register_form.email.label_tag }}
                    {{ register_form.email }}
                </div>
                <div class="form-group">
                    {{ register_form.team.label_tag }}
                    {{ register_form.team }}
                </div>
                <div class="form-group">
                    {{ register_form.captcha.label_tag }}
                    {{ register_form.captcha }}
                </div>

                <div>
                    <a href="/login/" class="text-success"><ins>Login Now</ins></a>
                    <button type="submit" class="btn btn-primary float-right">Register</button>
                </div>


            </form>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


</body>
</html>