{% extends 'dashboard/base.html' %}


{% block bokeh_script %}


{% endblock %}


{% block title %}
    Geo Grid Based Map
{% endblock %}

{% block nav_items %}
    <li class="nav-item">
        <a class="nav-link" href="#">Throughput</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/geo_grid_coverage/">Coverage</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Overlapping</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">User Number</a>
    </li>

{% endblock %}


{% block bokeh_div %}



    
{% endblock %}

